vision
images/*fps*
images/mjpgs/*
!images/mjpgs/
# Default image that is taken by main.cpp
images/snapped_images/main.jpeg
# Temporary gnuplot graphs
!images/gnuplot
*.png
*.jpg
*.mjpeg

*.log
# Default location to store parameters and data
logs/config.yml 
!logs/camera_calibration_data
!logs/save_runs

build/
obj/
.build_dir
