# All images and other large media files
*.png
*.jpg
*.jpeg
*.mjpeg
*.avi

# Log files
*.log
*.yml

# Configuration, log, and image files to share
!images/saved/**/*
!logs/camera_calibration_data/**/*
!logs/save_runs/**/*

# Remove objects built from main
build/
obj/
.build_dir
