vision
images/*fps*
# Default image that is taken by main.cpp
images/snapped_images/main.jpeg
# Temporary gnuplot graphs
images/gnuplot/
*.mjpeg

**/*.log
logs
!logs/save_runs

build/
obj/
.build_dir
